body{
  background:#111;
  color:white;
  font-family:Arial;
  margin:0;
}

header{
  background:black;
  padding:15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

header input{
  padding:6px;
  border-radius:5px;
  border:none;
}

header button{
  padding:6px 10px;
  margin-left:5px;
  cursor:pointer;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
  gap:20px;
  padding:20px;
}

.card{
  background:#1c1c1c;
  border-radius:10px;
  text-align:center;
  padding:10px;
  transition:0.3s;
}

.card:hover{
  transform:scale(1.05);
}

.card img{
  width:100%;
}

.anime-info{
  display:flex;
  gap:20px;
  padding:20px;
}

.anime-info img{
  width:250px;
  border-radius:10px;
}
